.id {
    background-color: #2574A9
}
.id{
    font-weight: bold;
}
.location {
    font-weight: bold
}
.location {
    background-color: #9A12B3
}
.pay {
    background-color: #DB0A5B
}
.pay {
    font-weight: bold
}